<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HipHopInspiration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83CB743F1BF034F900AE413D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83CB74531BF034F900AE413D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83CB745E1BF034F900AE413D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
